html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #222;
    color: #f0ffff;
    font-size: 18px;
}

/* NAVIGATION */

.navbar-brand {
    padding: 0 30px;
}

.navbar-nav>li>a{
    text-transform: uppercase;
    color: #f0ffff !important;
    cursor: pointer;
}

.navbar-nav>li>a:hover{
    text-transform: uppercase;
    color: #f984fb !important;
    text-decoration: none;
}

/* FIN NAVIGATION */

/* CONTENT */
.row {
    margin-left: 0;
    margin-right: 0;
}

.container {
    margin-left: 0;
    margin-right: 0;
    width: 100%;
    padding-left: 0;
    padding-right: 0;
}

h2 {
    color: #f984fb !important;
}

div[class*="col"] {
    padding-right: 0;
    padding-left: 0;
}

section {
    padding: 2% 10%;
}

.page-header {
    border-bottom: 1px solid #f984fb;
}

.page-header:first-letter {
    color: #f984fb !important;
}

/* FIN CONTENT */

/* HOME PAGE */

.rencontre img {
    height: 155px;
}

.rencontre .vs {
    height: 155px;
    text-align: center;
    padding: 57px 0;
}

/* FIN HOME PAGE */

/* MEDIA QUERIES */

@media screen and (min-width: 320px) and (max-width: 768px) {
    .navbar-nav {
        margin: 7.5px 0;
    }

    section {
        padding: 3% 3%;
    }
}

/* FIN MEDIA QUERIES */