html, body {
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    background: url(../img/backgroundHD/contentBG.jpg) repeat #222;
    color: #f0ffff;
    font-size: 18px;
}

/* NAVIGATION */
.navbar-brand {
    padding: 0 14px;
}

.navbar-nav>li>a {
    text-transform: uppercase;
    color: #f0ffff !important;
    cursor: pointer;
}

.navbar-nav>li>a:hover {
    text-transform: uppercase;
    color: #f984fb !important;
    text-decoration: none;
}

.navbar-nav>li>a.active {
    text-transform: uppercase;
    color: #f984fb !important;
    text-decoration: none;
}
/* FIN NAVIGATION */


/* CONTENT */
.row {
    margin-left: 0;
    margin-right: 0;
}

.container {
    margin-left: 0;
    margin-right: 0;
    width: 100%;
    padding-left: 0;
    padding-right: 0;
}

.content {
    position: relative;
    top: 51px;
}

h2 {
    color: #f984fb !important;
}

div[class*="col"] {
    padding-right: 0;
    padding-left: 0;
}

section {
    padding: 2% 10%;
}

.page-header {
    border-bottom: 1px solid #f984fb;
}

.page-header:first-letter {
    color: #f984fb !important;
    font-size: 50px;
}

ul {
    list-style-type: none;
}


/* HOME PAGE */
.home{
    background: url(../img/backgroundHD/contentBG.jpg) no-repeat #222;
}

.photo ul li {
    display: inline-block;
    margin: 0 20px;
}

.rencontre Table tr td:last-child {
    text-align: right;
}

/* PHOTOS PAGE */
.panel {
    border: none;
}

.panel-body {
    background-color: #222;
    border: 1px solid #2e2e2e;
}

.panel-body ul li {
    padding-bottom: 20px;
}

.custom-modal {
    color: #222;
    width: 100%;
    height: 100%;
    max-width: 1080px;
    max-height: 718px;
}

.custom-modal .carousel-indicators {
    display: none;
}

.count {
    position: absolute;
    bottom: 0;
    left: 10px;
}


/* CLASSEMENT PAGE */
.classement .table thead tr {
    background: -moz-linear-gradient(top,  rgba(249,132,251,1) 0%, rgba(249,132,251,0) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(249,132,251,1) 0%,rgba(249,132,251,0) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(249,132,251,1) 0%,rgba(249,132,251,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f984fb', endColorstr='#00f984fb',GradientType=0 ); /* IE6-9 */
}

.table>thead>tr>th, .table>tbody>tr>td {
    text-align: center;
}

.table>tbody>tr:hover {
    background-color: #ffffff;
    color: #000000;
}

/* STATS PAGE */
.stats .table thead tr {
    background: -moz-linear-gradient(top,  rgba(249,132,251,1) 0%, rgba(249,132,251,0) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(249,132,251,1) 0%,rgba(249,132,251,0) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(249,132,251,1) 0%,rgba(249,132,251,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f984fb', endColorstr='#00f984fb',GradientType=0 ); /* IE6-9 */
}


/* TOP5 PAGE */
.top5 ul {
    width: 520px;
    margin: auto;
    padding: 60px 0;
    perspective: 500px;
}

.top5 ul:hover li:not(:hover) {
     transform: rotateY(45deg);
 }

.top5 ul:hover li:hover ~ li {
     transform: rotateY(-45deg);
 }

.top5 ul li {
    display: inline-block;
    width: 112px;
    height: 220px;
    background: #2e2e2e;
    margin-right: -15px;
    transform: rotateY(45deg);
    transition: all .45s;
    position: relative;
    z-index: 50;
}

.top5 ul li .topPosition {
    position: absolute;
    right: 5px;
    color: #F677F8;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 1);
}

.top5 ul li:nth-child(1) .topPosition, .top5 ul li:nth-child(2) .topPosition {
    left: 5px;
}

.top5 ul li .topTxt {
    color: #ffffff;
    font-size: 12px;
    padding: 10px;
    text-align: center;
}

.top5 ul li img {
    width: 100%;
}

.top5 ul li:first-child, .top5 ul li:last-child{
    z-index: 45;
}

.top5 ul li:nth-child(3) {
     transform: rotateY(0deg) scale(1.2);
     z-index: 55;
 }

.top5 ul li:nth-child(3) ~ li, .top5 ul li:hover ~ li {
  transform: rotateY(-45deg);
}

.top5 ul li:first-child:hover {
     z-index: 60;
 }

.top5 ul li:hover, .top5 ul li:nth-child(3) ~ li:hover {
  transform: rotateY(0deg) scale(1.2);
  z-index: 60;
}

/* CONTACT PAGE */
.social {
    padding: 0;
}

.social li {
    margin-top: 25px;
    color: #F677F8;
}

.social li img {
    margin-right: 10px;
}

.glace p {
    text-align: center;
}


/* MEDIA QUERIES */
@media screen and (min-width: 320px) and (max-width: 767px) {
    .navbar-nav {
        margin: 7.5px 0;
    }

    section {
        padding: 3% 3%;
    }

    .photo ul li {
        display: block;
        margin: 10px auto;
    }

    .carousel-caption {
        padding-bottom: 0;
        font-size: 14px;
        top: -36px;
    }

    .carousel-caption h3 {
        font-size: 18px;
    }

    .carousel-control {
        top: 51px;
    }

    .carousel-indicators {
        display: none;
    }
}
/* FIN MEDIA QUERIES */